.Blank {
  width: 100%;
  height: 1.2rem;
  background-color: #ffffff;
}

.Panel {
  background-color: #f2f2f2;
  width: 100%;
  height: 23.27rem;
  background-image: url("https://i.ibb.co/2FQVn2R/Tech-Background.png");
  background-size: 152% auto;
  background-position: 3% 89%;
}

.PanelText {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  color: #12261f;
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  -webkit-text-stroke: 0.12rem #12261f;
  letter-spacing: 0.17rem;

  padding: 2.2rem;
}

.BluePanelText {
  color: #69bfb7;
  -webkit-text-stroke: 0.12rem #69bfb7;
}

.ElementImage {
  width: 16.24rem;
  height: 14rem;
  background-repeat: no-repeat;
}
.ElementImage--services {
  background-image: url("https://i.ibb.co/wMg8zYt/4324.jpg");
  background-size: 134% auto;
}
.ElementImage--history {
  background-image: url("https://i.ibb.co/GpM11CH/4181.jpg");
  background-size: 134% auto;
}
.ElementImage--analysis {
  background-image: url("https://i.ibb.co/28SmKLK/2597298.jpg");
  background-size: 134% auto;
}
.ElementImage--additional {
  background-image: url("https://i.ibb.co/Rz0KgXT/7957.jpg");
  background-size: 134% auto;
}

.FeatureElement {
  width: 16.24rem;
  height: 23rem;
  padding: 1.5rem 0rem;
}

.ElementTextbox {
  width: 16.24rem;
  height: 9rem;
  background-color: #f2f2f2;
}

.IconCircle {
  display: flex;
  justify-content: center;
  margin-top: -2.25rem;
  margin-bottom: -2.25rem;
}
.Circle {
  background-color: white;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 2.5rem;
  color: #308c83;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PanelElements {
  display: flex;
  padding: 0 3rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ElementTitle {
  color: #308c83;
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  -webkit-text-stroke: 0.09rem #308c83;
  letter-spacing: 0.13rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  padding: 2.6rem 0 0.5rem 0;
}

.ElementDescription {
  color: #12261f;
  font-family: "Montserrat", sans-serif;
  font-weight: 1000;
  letter-spacing: 0.08rem;
  font-size: 0.75rem;
  text-align: center;
  word-wrap: break-word;
}
